<bs-navbar></bs-navbar>

<!-- <main role="main" class="container">

  <div class="starter-template">
    <app-client-details></app-client-details>  
    <app-payment></app-payment>
    <app-project-details></app-project-details>
    <app-task-allocation></app-task-allocation>
  </div>

</main> -->

    <!-- <div class="container">

      <div class="row">
        <div class="col-md-12">
            <app-client-details></app-client-details>  
            <app-payment></app-payment>
            <app-project-details></app-project-details>
            <app-task-allocation></app-task-allocation>
        </div>
      </div>

    </div>/.container -->

    <!-- <app-home></app-home> -->

    <app-project-details></app-project-details>
    <!-- <app-client-details></app-client-details> -->
    <!-- <app-payment></app-payment> -->